<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mt-5">
      <h1>
        Hello, my name is Lukas and Welcome to my portifolio page. Come with me
        and let me show you my work.
      </h1>
      <p class="lead">
        Enjoys Development, always looking for new challenges. Programming,
        Back-end, Fullstack, Machine Learning, Data Science, and more.
      </p>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/avatar.jpg"
        alt="Lukas"
        class="avatar img-fluid rounded-circle ml-3"
        style="
          width: 400px;
          height: 400px;
          object-fit: cover;
          transform: scaleX(-1);
          box-shadow: 0 0 10px 10px #ff0;
        "
      />
    </div>
  </div>
</div>
