<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mt-5">
      <h1>
        Hello, my name is Lukas and Welcome to my portifolio page. Come with me
        and let me show you my work.
      </h1>
      <p class="lead">
        Enjoys Development, always looking for new challenges. Programming,
        Back-end, Fullstack, Machine Learning, Data Science, and more.
      </p>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/avatar.jpg"
        alt="Lukas"
        class="avatar img-fluid rounded-circle ml-3"
        style="
          width: 400px;
          height: 400px;
          object-fit: cover;
          transform: scaleX(-1);
          box-shadow: 0 0 10px 10px blueviolet;
        "
      />
    </div>
  </div>
  <div class="row large-margin-top">
    <div class="col-12 text-center mt-5">
      <h2>Let me show you my Stack</h2>
      </p>
    </div>
  </div>
  <div class="row text-center large-margin-top">
    <div class="col-md-3">
      <img
        src="/images/linux.jpeg"
        alt="Avatar 1"
        class="img-fluid rounded-circle"
        style="width: 200px; height: 200px; object-fit: cover; box-shadow: 0 0 10px 10px blueviolet;"
      />
      <p class="lead mt-3">Linux</p>
    </div>
    <div class="col-md-3">
      <img
        src="/images/Express.jpeg"
        alt="Avatar 2"
        class="img-fluid rounded-circle"
        style="width: 200px; height: 200px; object-fit: cover; box-shadow: 0 0 10px 10px blueviolet;"
      />
      <p class="lead mt-3">Express.js</p>
    </div>
    <div class="col-md-3">
      <img
        src="/images/db.jpeg"
        alt="Avatar 3"
        class="img-fluid rounded-circle"
        style="width: 200px; height: 200px; object-fit: cover; box-shadow: 0 0 10px 10px blueviolet;"
      />
      <p class="lead mt-3">MySQL</p>
    </div>
    <div class="col-md-3">
      <img
        src="/images/node.jpeg"
        alt="Avatar 4"
        class="img-fluid rounded-circle"
        style="width: 200px; height: 200px; object-fit: cover; box-shadow: 0 0 10px 10px blueviolet;"
      />
      <p class="lead mt-3">Node.js</p>
    </div>
  </div>
</div>
