body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: whitesmoke;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.drop {
  position: absolute;
  top: 0;
  color: lime;
  opacity: 0.5;
  font-family: monospace;
  animation: fall linear infinite;
}
@keyframes fall {
  0% { top: -25%; }
  100% { top: 100%; }
}

.nav .nav-link {
  color: whitesmoke;
}

.nav .nav-link.active {
  background-color: #023653 !important;
}

a {
  color: whitesmoke;
}

.large-margin-top {
  margin-top: 100px;
}

